/* RESET */
html, body, h1, a,
ul, li, main, button, div, p, form,
fieldset, label, input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

body {
  background-color: #eee;
  font-family: arial;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
}


#input-container {
  align-content: center;
}
input {
  background: #fff;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

#bookmark-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#bookmark-form {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 200px;
  width: 300px;
}

#button {
  background: #eee;
  color: #444;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#button:hover {
  background: #ccc;
}

.bookmark {
  height: 60px;
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #444;
  background: #fff;
  padding: 10px;
  text-align: center;
  margin: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}


li a:after {
  display: block;
  content: '';
  border-bottom: 1px solid #696969;
  transform: scaleX(0.0001);
  transition: transform 250ms ease-in-out;
}

li a:hover:after {
  color: #7B868A;
  transform: scaleX(0.60);
}

a:hover {
  color: #000;
}

.delete-btn {
  display: block;
  margin: 10px auto;
  height: 35px;
  width: 35px;
  background: url('../assets/trash.png');
  background-size: cover;
}

.delete-btn:hover {
  background: url('../assets/trash_hover.png');
  background-size: cover;
}

#bookmark-notification {
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 200px;
}
