/* RESET */
html, body, h1, a,
ul, li, main, button, div, p, form,
fieldset, label, input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

body {
  background-color: #ccc;
}

.delete-btn {
  background-color: #f00;
  height: 20px;
  width: 20px;
}
